ul.popnhistory {
    display: flex;
    list-style: none;
    max-width: none;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 10rem;
    gap: 2rem;
    padding: 1rem;
}

ul.popnhistory>li {
    min-width: fit-content;
    font-size: 0.8rem;
    border-bottom: none;
    padding: 0 0.5em;
    border-radius: 0.25em;
    border: 1px dashed var(--main-text-color);
    position: relative;
    cursor: pointer;
}

ul.popnhistory>li>p.release {
    position: absolute;
    font-size: 0.75em;
    left: 0;
    top: -1.5em;
}

ul.popnhistory>li::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -1.2rem;
    width: 1rem;
    height: 0.85rem;
    background: var(--popn-white);
    border-radius: 100%;
}

ul.popnhistory>li:nth-child(8n+2)::before,
ul.popnhistory>li:nth-child(8n+8)::before {
    background: var(--popn-yellow);
}

ul.popnhistory>li:nth-child(8n+3)::before,
ul.popnhistory>li:nth-child(8n+7)::before {
    background: var(--popn-green);
}

ul.popnhistory>li:nth-child(8n+4)::before,
ul.popnhistory>li:nth-child(8n+6)::before {
    background: var(--popn-blue);
}

ul.popnhistory>li:nth-child(8n+5)::before {
    background: var(--popn-red);
}

ul.popnhistory>li::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.9rem;
    width: 1rem;
    height: 0.2rem;
    background: var(--real-white);
}

ul.popnhistory>li:nth-child(odd) {
    transform: rotate(12deg) translateY(1rem);
}

ul.popnhistory>li:nth-child(even) {
    transform: rotate(-12deg) translateY(-1rem);
}

ul.popnhistory>li .title-ja {
    display: none;
    font-size: 0.6em;
}

ul.popnhistory>li:hover {
    font-size: 1rem;
}

ul.popnhistory>li:hover>p {
    display: block;
}

@media screen and (max-width: 768px) {
    ul.popnhistory {
        flex-direction: column;
        overflow-x: scroll;
        overflow-y: hidden;
        height: auto;
        gap: 1.5rem;
    }

    ul.popnhistory>li {
        min-width: 75%;
        font-size: 1rem;
    }

    ul.popnhistory>li>p.release {
        left: auto;
        right: 0.5em;
        top: -1.5em;
    }

    ul.popnhistory>li:nth-child(odd) {
        transform: translateX(-5%);
    }

    ul.popnhistory>li:nth-child(even) {
        transform: translateX(5%);
    }

    ul.popnhistory>li::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -1.2rem;
        bottom: -0.8rem;
        width: 1rem;
        height: 0.85rem;
        background: var(--popn-white);
        border-radius: 100%;
    }

    ul.popnhistory>li::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: -1.2rem;
        bottom: -0.48rem;
        width: 1rem;
        height: 0.2rem;
        background: var(--real-white);
    }

    ul.popnhistory>li:nth-child(even)::before {
        left: auto;
        right: -1.2rem;
    }

    ul.popnhistory>li:nth-child(even)::after {
        left: auto;
        right: -1.2rem;
    }

    ul.popnhistory>li .title-ja {
        display: block;
    }
}