h2 {
    font-size: 1.25rem;
}

section#song-content {
    padding: 0 0;
    border: none;
}

p.genre {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background: var(--inverted-background-color);
    color: var(--inverted-text-color);
    margin-bottom: -0.5rem;
}

#song-content>h1 {
    border-bottom: 1.5px dashed var(--main-text-color);
    width: fit-content;
}

.baseinfo-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: baseline;
    justify-content: center;
}
.baseinfo-wrap>.baseinfo-lr {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: baseline;
    color: var(--main-text-color);
}
.baseinfo-wrap>.baseinfo-lr>:first-child {
    min-width: 6rem;
    color: var(--sub-text-color);
}
.baseinfo-wrap>a {
    font-size: 0.9em;
}

span.signature {
    font-size: 1rem;
    font-weight: 700;
    color: var(--inverted-text-color);
    background: var(--inverted-background-color);
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
    margin-left: auto;
}

section.staff-comment-content {
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0;
    border-left: 2px solid var(--accent-color);
}
section.staff-comment-content>h3 {
    font-size: 1rem;
    color: var(--inverted-text-color);
    background: var(--inverted-background-color);
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
}
section.staff-comment-content>h3::before {
    display: none;
}

a.source {
    width: fit-content;
}